* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #050d1a, #081b3c);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgb(247, 245, 245);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #ed4e0a;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    background: #1e3c72;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #2a5298;
}

.back-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #ed4e0a;
    color: rgb(238, 220, 220);
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;

}

/*member table*/

